.post-card-meta {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 0 25px 25px;
}

.shadow:hover {
    -webkit-box-shadow: 10px 10px 40px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 40px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 40px 5px rgba(0, 0, 0, 0.75);
}

.author-list {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 0;
    padding: 0;
    list-style: none;
}

.author-list-item {
    position: relative;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
}

.author-list-item:nth-child(1) {
    z-index: 10;
}

.author-list-item:nth-child(2) {
    z-index: 9;
}

.author-list-item:nth-child(3) {
    z-index: 8;
}

.author-list-item:nth-child(4) {
    z-index: 7;
}

.author-list-item:nth-child(5) {
    z-index: 6;
}

.author-list-item:nth-child(6) {
    z-index: 5;
}

.author-list-item:nth-child(7) {
    z-index: 4;
}

.author-list-item:nth-child(8) {
    z-index: 3;
}

.author-list-item:nth-child(9) {
    z-index: 2;
}

.author-list-item:nth-child(10) {
    z-index: 1;
}

.static-avatar {
    display: block;
    overflow: hidden;
    margin: 0 -5px;
    width: 34px;
    height: 34px;
    border: #fff 2px solid;
    border-radius: 100%;
}

.moving-avatar {
    display: block;
    overflow: hidden;
    margin: 0 -6px;
    width: 56px;
    height: 56px;
    border: #fff 2px solid;
    border-radius: 100%;
    transition: all 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.7s;
}

@media (min-width: 800px) {
    .author-list:hover .moving-avatar {
        margin: 0;
        transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    }
}

.author-name-tooltip {
    position: absolute;
    bottom: 105%;
    z-index: 999;
    display: block;
    padding: 2px 8px;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 0.2px;
    white-space: nowrap;
    background: black;
    border-radius: 3px;
    box-shadow: rgba(39, 44, 49, 0.08) 0 12px 26px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transform: translateY(6px);
    pointer-events: none;
}

.author-list-item:hover .author-name-tooltip {
    opacity: 1.0;
    transform: translateY(0px);
}

.tooltip-down {
    bottom: -105%;
}

@media (max-width: 650px) {
    .author-name-tooltip {
        display: none;
    }
}

.reading-time {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 20px;
    color: #738a94;
    font-size: 1.2rem;
    line-height: 33px;
    font-weight: 500;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.footer__logo {
    height: 100px;
    width: auto;
}

/* .post-card-image{
    margin-left: 200px;
}  */

/* .post-card{
    margin-left: 400px;
    width: 20%;
    height: 30%;
}      */

.post-feed {
    margin-top: 2px;
}

.main_image {
    height: 500px;
    width: 100px;
}

#im {
    width: 529px;
    height: 705px;
    vertical-align: middle;
    border-style: none;
   
    /* display: none; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between; 
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 0 25px 25px;
}
.box1{
    background-color: #f5f0d5;
    min-height: 650px;
    margin-top: -75px;
}

#article-main-image{
    width: 348px;
    height: 170px;
    margin-left: 0;
    margin-top: 50px;
}
.main-image-content{
    max-width: 400px;
}

.post-card{
    min-width: 100px;
    min-height: 100px;
}
.article-image{
    height: 109px;
    width: 109px;
}

#heading{
    margin-top: 190px;
}









/* Beggining of blog css */

/*----------Navbar -----------*/
.my-navbar{
    margin: 0 -20px 0 -50px;
}
.navbar-item{
    float: right !important;
}
.nav-link{
    color: #111;
}
.nav-link:hover{
    color: #555;
}
.nav-search{
    margin-left: 100px;
}

.display1{
    margin-top: 27%;
}
.media{
    padding: 50px 0px 50px 0px;
}
.media-content{
    font-size: 0.8em;
}
.media-body{
    margin-left: 25px; 
}
.box2{
    background-color: #f5f0d5;
    height: 100px;
    width: 60%;
    left: 0;
    margin-top: -75px;
    position: absolute;
}
.box1{
    background-color: #f5f0d5;
    min-height: 650px;
    margin-top: -75px;
}
.arrow-group{
    float: right;
    margin: 10px 30px 0 0;
}
.arrow {
    width: 40px;
    height: 40px;
    margin: 10px;
}
.arrow-right{
    transform: rotate(180deg);
}

.editors-picks{
    margin: 80px 0 50px 0;
}
.margin-bottom{
    margin-bottom: 20px;
}
.margin-top-bottom{
    margin: 20px 0 20px 0;
}

.article{
    margin-bottom: 25px;
}
.article-content{
    color: #777;
}
.center-article{
    padding-left: 40px;
    padding-right: 40px;
}
.article-heading>h6{
    margin-bottom: 20px;
    font-size: 1em;
}
a.article-heading{
    text-decoration: none;
    color: #111;
}
a.more{
    color: #333;
    text-decoration: underline;
}
.more>h6{
    margin-top: 100px;
    font-size: 0.8em;
}
.date{
    font-size: 0.7em;
    color: #777;
}
.date-time{
    padding-right: 25px;
    border-right: 1px solid #777;
    height: 37px;
}


.read-later{
    font-size: 0.7em; 
    margin-top: 10px;
}
.read-later>a{
    color: #555; 
    text-decoration: none;
}
.read-later-text{ 
    margin-left: 20px;
}
.name{
    font-size: 0.8em; 
}
.newsletter-image{
    margin-right: 10px; 
}

.subscribe{
    margin-top: 70px; 
}
.form-subscribe{
    border: none;
    margin-top: 5px;
    border-bottom: 1px solid #777;
    width: 105%;
}
.button-subscribe{
    border: none;
    border-radius: 2px;
    background: #333;
    color: #fff;
    padding: 5px 15px 5px 15px;
}
.form-check-label{
    color: #777;
}
.agree{
    margin-left: 5px;
    margin-top: 30px; 
}

.latest{
    margin-top: 50px; 
}
.latest-heading{
    margin-bottom: 50px;
}
.featured-post{
    font-size: 0.9em;
}
.featured-lists{
    left:0;
    margin-left: -25px;
}

.count{
    color: #777;
    font-size: 0.9em;
    margin-top: 2px;
}
.line{
    border-bottom: 1px solid #aaa;
    margin:5% 17% 0 17%;
}

/*Follow Us */
.follow-text{
    text-align: center;
}

.instagram{
    margin-top: 30px;
    margin-bottom: 20px;
}
.instagram-image{
    margin-right: -5px;
    height: 275px;
    width: 275px;
}
.instagram-image-group{
    margin-top: 30px;
    align: center;
}
.button-bottom{
    margin-right: -65px;
    margin-top: -35px;  
    float: right;
    background: #555;
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}


.instagram-ima{
    display: inline;
    margin-left: 0px;
    margin-right: 0px;
    width: 275px;
    height: 275px;
}















@media only screen and (max-width: 768px) {
    .subscribe-right{
        margin-right:50px;
    }
    ul.navbar-nav.ml-auto{
        padding-left:50px; 
    }
    .nav-search{
        margin-left: 0px;
    }
    img.nav-link{
        width: 25px;
    }
    .card{
        margin-top: 15px; 
    }
    .article-heading>h6{
        margin-top: 20px; 
    }
}