<article>
    {{#if feature_image}}
    <div class="card-image">
    <figure class="image is-4by3">
        <img src="{{feature_image}}" alt="{{title}}">
    </figure>
    </div>
    {{/if}}

    <div class="card-content">
        {{#if author.profile_image}}
         </div class="media">
          <div class="media-left">
               <figure class="image">
                   <img src="{{auhtor.profile_image}}" alt="profile image">
               </figure>
          </div>
       
          {{/if}} 

      <h1>{{title}}</h1>    
    <div class="content">
        <p>
            {{#if meta_description}}
            {{meta_description}}
            {{else}}
            {{excerpt words = "40"}}
            {{/if}}
        </p>
        <p>
          {{author}} in {{tags}}
          <time>{{date}}</time>
        </p>
    </div>      
</article>