{{!-- <article class="post-card {{post_class}}{{#unless feature_image}} no-image{{/unless}} shadow ">
    {{#if feature_image}}
    <a class="post-card-image-link" href="{{url}}">
        <div class="post-card-image" style="background-image: url({{feature_image}})"></div>
    </a>
    {{/if}}
    <div class="post-card-content conta">
        <a class="post-card-content-link" href="{{url}}">
            <header class="post-card-header">
                {{#if primary_tag}}
                <span class="post-card-tags">{{primary_tag.name}}</span>
                {{/if}}
                <h2 class="post-card-title">{{title}}</h2>
            </header>
            <section class="post-card-excerpt">
                <p>{{excerpt words="33"}}</p>
            </section>
        </a>
        <footer class="post-card-meta">
            <ul class="author-list">
                {{#foreach authors}}
                <li class="author-list-item">
                    <div class="author-name-tooltip">
                        {{name}}
                    </div>
                    {{#if profile_image}}
                    <a href="{{url}}" class="static-avatar"><img class="author-profile-image" src="{{profile_image}}"
                            alt="{{name}}" /></a>
                    {{else}}
                    <a href="{{url}}" class="static-avatar author-profile-image">{{> "icons/avatar"}}</a>
                    {{/if}}
                </li>
                {{/foreach}}
            </ul>
            <span class="reading-time">{{reading_time}}</span>
        </footer>


        {{#post}}
        {{#if tags}}
        <ul>
            {{#foreach tags}}
            <li>
                <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
            </li>
            {{/foreach}}
        </ul>
        {{/if}}
        {{/post}} --}}
{{!-- {{#get "posts" include="tags,authors"}}
        {{#foreach posts}}
        {{title}}
        {{/foreach}}
        {{/get}} --}}

{{#has tag="foo"}}
{{> partial-for-foo}}
{{/has}}
{{#has tag="bar"}}
{{> partial-for-bar}}
{{/has}}

{{#primary_tag}}
<div class="primary-tag">
    <a href="{{url}}">{{name}}</a>
    <span class="description">{{description}}</span>
    <div>
        {{/primary_tag}}


        {{#post}}
        {{#if tags}}
        <ul>
            {{#foreach tags}}
            <li>
                <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
            </li>
            {{/foreach}}
        </ul>
        {{/if}}
        {{/post}}

    </div>

    {{#tag}}
    <header>
        {{#if feature_image}}
        <img src="{{feature_image}}" alt="{{name}}" />
        {{/if}}
    </header>

    <section class="author-profile">
        <h1>{{name}}</h1>
        {{#if description}}
        <h2>{{description}}</h2>
        {{/if}}
    </section>
    {{/tag}}
    </article>