{{!< default}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{asset "css/main.css"}}" />



{{!-- The main content area --}}
<main id="site-main" class="site-main outer" role="main">

  {{#foreach posts}}
  {{#has tag="Getting Started" limit="7"}}
  <h1>This many post found</h1>
  {{> "post-card"}}
  {{/has}}
  {{/foreach}}


  {{#has tag="Getting Started" limit="4"}}
  {{#foreach posts}}
  <h1>This many post found</h1>
  {{> "post-card"}}
  {{/foreach}}
  {{/has}}


</main>