{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header outer">
    <div class="inner">
        {{> "site-nav"}}
    </div>
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

            {{#if feature_image}}
            <img class="post-full-image" src="{{feature_image}}" alt="featured image" />
            {{/if}}
            <header class="post-full-header">
                {{#primary_tag}}
                <a href="{{url}}"><span class="post-primary-tag">{{name}}</span></a>
                {{/primary_tag}}
                <h1 class="post-full-title">{{title}}</h1>
                <section class="post-full-meta">
                    {{!-- {{#if author.profile_image}}
                        <img class="post-meta-author-image" src="{{author.profile_image}}" alt="{{author.name}}" />
                    {{/if}}
                    <span class="post-meta-author">{{author}}</span> --}}
                    <ul class="author-list">
                        {{#foreach authors}}
                        <li class="author-list-item">

                            <div class="author-name-tooltip tooltip-down">
                                {{name}}
                            </div>

                            {{#if profile_image}}
                            <a href="{{url}}" class="static-avatar"><img class="author-profile-image"
                                    src="{{profile_image}}" alt="{{name}}" /></a>
                            {{else}}
                            <a href="{{url}}" class="static-avatar author-profile-image">{{> "icons/avatar"}}</a>
                            {{/if}}
                        </li>
                        {{/foreach}}
                    </ul>

                    <span>&nbsp;-&nbsp;</span>
                    <time class="post-full-meta-date"
                        datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time>
                </section>
            </header>
            <section class="post-full-content">
                {{content}}
            </section>

            {{!-- Email subscribe form at the bottom of the page --}}
            {{#if @labs.subscribers}}
            <section class="subscribe-form">
                <h3 class="subscribe-form-title">Subscribe to {{@blog.title}}</h3>
                <p>Get the latest posts delivered right to your inbox</p>
                {{subscribe_form placeholder="youremail@example.com"}}
            </section>
            {{/if}}

            <footer class="post-full-footer">
                {{!-- Everything inside the #author tags pulls data from the author --}}
                {{!-- {{#author}} --}}
                {{#foreach authors}}
                <section class="author-card">
                    {{#if profile_image}}
                    <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
                    {{/if}}
                    <section class="author-card-content">
                        <h4 class="author-card-name"><a href="{{url}}">{{name}}</a></h4>
                        {{#if bio}}
                        <p>{{bio}}</p>
                        {{else}}
                        <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                        {{/if}}
                    </section>
                </section>
                <div class="post-full-footer-right">
                    <a class="author-card-button" href="{{url}}">Read More</a>
                </div>
                {{/foreach}}
                {{!-- {{/author}} --}}
            </footer>


            <section class="post-full-comments">
                <div id="disqus_thread"></div>
                <script>
                    var disqus_config = function () {
                        this.page.url = '{{url absolute="true"}}';
                        this.page.identifier = 'ghost-{{comment_id}}';
                    };
                    (function () {
                        var d = document, s = d.createElement('script');
                        s.src = 'https://blog-eydean-com.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
            </section>


        </article>

    </div>
</main>

{{!-- Links to Previous/Next posts --}}
<aside class="read-next outer">
    <div class="inner">
        <div class="read-next-feed">
            {{#if primary_tag}}
            {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3" as |related_posts|}}
            {{#if related_posts}}
            <article class="read-next-card" {{#if ../primary_tag.feature_image}}
                style="background-image: url({{../primary_tag.feature_image}})" {{else}} {{#if @blog.cover_image}}
                style="background-image: url({{@blog.cover_image}})" {{/if}} {{/if}}>
                <header class="read-next-card-header">
                    <small class="read-next-card-header-sitetitle">&mdash; {{@blog.title}} &mdash;</small>
                    {{#../primary_tag}}
                    <h3 class="read-next-card-header-title"><a href="{{url}}">{{name}}</a></h3>
                    {{/../primary_tag}}
                </header>
                <div class="read-next-divider">{{> "icons/infinity"}}</div>
                <div class="read-next-card-content">
                    <ul>
                        {{#foreach related_posts}}
                        <li><a href="{{url}}">{{title}}</a></li>
                        {{/foreach}}
                    </ul>
                </div>
                <footer class="read-next-card-footer">
                    <a href="{{#../primary_tag}}{{url}}{{/../primary_tag}}">{{plural meta.pagination.total empty='No posts' singular='% post' plural='See all % posts'}}
                        →</a>
                </footer>
            </article>
            {{/if}}
            {{/get}}
            {{/if}}

            {{!-- If there's a next post, display it using the same markup included from - partials/post-card.hbs --}}
            {{#next_post}}
            {{> "post-card"}}
            {{/next_post}}

            {{!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs --}}
            {{#prev_post}}
            {{> "post-card"}}
            {{/prev_post}}

        </div>
    </div>
</aside>

{{!-- Floating header which appears on-scroll, included from includes/floating-header.hbs --}}
{{> floating-header}}

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

    // NOTE: Scroll performance is poor in Safari
    // - this appears to be due to the events firing much more slowly in Safari.
    //   Dropping the scroll event and using only a raf loop results in smoother
    //   scrolling but continuous processing even when not scrolling
    $(document).ready(function () {
        // Start fitVids
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
        // End fitVids

        var progressBar = document.querySelector('progress');
        var header = document.querySelector('.floating-header');
        var title = document.querySelector('.post-full-title');

        var lastScrollY = window.scrollY;
        var lastWindowHeight = window.innerHeight;
        var lastDocumentHeight = $(document).height();
        var ticking = false;

        function onScroll() {
            lastScrollY = window.scrollY;
            requestTick();
        }

        function onResize() {
            lastWindowHeight = window.innerHeight;
            lastDocumentHeight = $(document).height();
            requestTick();
        }

        function requestTick() {
            if (!ticking) {
                requestAnimationFrame(update);
            }
            ticking = true;
        }

        function update() {
            var trigger = title.getBoundingClientRect().top + window.scrollY;
            var triggerOffset = title.offsetHeight + 35;
            var progressMax = lastDocumentHeight - lastWindowHeight;

            // show/hide floating header
            if (lastScrollY >= trigger + triggerOffset) {
                header.classList.add('floating-active');
            } else {
                header.classList.remove('floating-active');
            }

            progressBar.setAttribute('max', progressMax);
            progressBar.setAttribute('value', lastScrollY);

            ticking = false;
        }

        window.addEventListener('scroll', onScroll, { passive: true });
        window.addEventListener('resize', onResize, false);

        update();
    });
</script>
{{/contentFor}}