
<article>
    {{#if feature_image}}
    <div class="instagram-image-group">
        <header>
            <a href="{{url}}" class="image fit article-main-image"><img src="{{img_url feature_image}}"
                    class="instagram-ima post-card mb-1" alt="{{title}}" />
            </a>
            <a href="{{url}}" class="image fit article-main-image"><img src="{{img_url feature_image}}"
                    class="instagram-ima post-card shadow mb-1" alt="{{title}}" />
            </a>
            <a href="{{url}}" class="image fit article-main-image"><img src="{{img_url feature_image}}"
                    class="instagram-ima post-card shadow mb-1" alt="{{title}}" />
            </a>
            <a href="{{url}}" class="image fit article-main-image"><img src="{{img_url feature_image}}"
                    class="instagram-ima post-card shadow mb-1" alt="{{title}}" />
            </a>
    </div>
    {{/if}}
    {{!-- <a class="post-card-content-link main-image-content" href="{{url}}">
            <header class="post-card-header">
              {{#if primary_tag}}
              <span class="post-card-tags">{{primary_tag.name}}</span>
              {{/if}}
              <h2 class="post-card-title">{{title}}</h2>
            </header>
            <section class="post-card-excerpt">
              <p>{{excerpt words="33"}}</p>
            </section>
          </a > --}}
</article>
