<footer class="footer">
  <div class="footer__inner">

    <div>
      <a href="http://mozilla.org">
        <img class="footer__logo" src="{{asset "img/eydean-black.jpg"}}" height="100" />
      </a>
    </div>
    <div>
      <span class="footer__title">Additional Links</span>
      <ul class="footer__list">
        <li>
          <a href="https://eydean.com">Eydean</a>
        </li>
        <li>
          <a href="https://twitter.com/eydeaninc">Twitter</a>
        </li>
        <li>
          <a href="https://github.com/eydean">GitHub</a>
        </li>
      </ul>
    </div>
    <div>
      <span class="footer__title">Eydean</span>
      <ul class="footer__list">
        <li>
          <a href="https://www.eydean.com/about/">About</a>
        </li>
        <li>
          <a href="https://www.eydean.com/contact/">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__legal">
    <ul class="footer__legal-list">
      <li>
        <a href="https://www.eydean.com/privacy/">Privacy</a>
      </li>
      <li>
        <a href="https://www.eydean.com/privacy/websites/#cookies">Cookies</a>
      </li>
      <li>
        <a href="https://www.eydean.com/about/legal/">Legal</a>
      </li>
    </ul>
  </div>
</footer>
