<nav class="site-nav">
  <div class="site-nav-left">
    <a href="{{@blog.url}}">
      {{#if logoImage}}
      <img class="site-nav__logo" src="{{asset logoImage}}" />
      {{else}}
      <img class="site-nav__logo" src="{{asset "img/eydean-logo.svg"}}" />
      {{/if}}
    </a>
  </div>
  <div class="site-nav-right">
    {{#if @blog.navigation}} {{navigation}} {{/if}}
  </div>
</nav>
