{{!< default}}



<main>
{{!-- {{#foreach posts}}
   <h1><a href="{{url}}">{{title}}</a></h1>
   {{> post_card}}
 {{/foreach}} --}}
{{!-- <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h1 class="display1">Blogger theme with a beautiful design and pro typography</h1>
                <p class="lead">Suitable for all kinds of personal blogs, journal, story and other related projects, with an emphasis on design and...</p>
                
                <div class="media">
                    <img src="{{{@blog.cover_image}}}" class="mr-" width="75px" height="75px">
                    <div class="media-body">
                        <h6 class="mt-0"><b>Jason Gibert</b></h5>
                        <p class="media-content">Mannam diam quodsi, veri adhuc patrioque ad eum. Nam ne porro discere.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <img src="{{{@blog.cover_image}}}" width="98%" height="98%"/>
            </div>
        </div>
    </div>
</main> 
 <div class="box2">
        <div class="arrow-group">
            <div class="row">
                <a href="#"><img class="arrow arrow-left" src="images/Icons_Arrow.png" /></a>
                <a href="#"><img class="arrow arrow-right" src="images/Icons_Arrow.png" /></a>
            </div>
        </div>
    </div>

    <div class="box1">
        <div class="container">
            <div class="row">
                <div class="editors-picks">
                    <div class="col-md-12">
                        <h6><b>Editors' Picks</b></h6>
                    </div>
                </div>
            </div>
            <div class="article row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{{@blog.cover_image}}}" width="100%" height="100%"/>
                    </div>
                    <a class="article-heading" href="#">
                        <h5 class="margin-top-bottom"><b>Five Advices That You Must Listen Before Studying Artist.</b></h5>
                    </a>
                    <p class="article-content">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="date-time">
                                <h7 class="name">Jason Gibert</h7>
                                <p class="date">FEBRUARY 25, 2019</p>
                            </div>
                            <div class="read-later">
                                <a href="#">
                                    <span class="read-later-text"><img src="{{{@blog.cover_image}}}" width="12px" height="12px"/>
                                    <span>READ LATER
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 center-article">
                    <div class="article row">
                        <div class="col-md-4">
                            <div class="card">
                                <img src="{{{@blog.cover_image}}}" width="100%" height="100%"/>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <a class="article-heading" href="#">
                                <h6><b>The Truth About Design is About To Be Revealed</b></h6>
                            </a>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="date-time">
                                        <h7 class="name">Jason Gibert</h7>
                                        <p class="date">FEBRUARY 25, 2019</p>
                                    </div>
                                    <div class="read-later">
                                        <a href="#">
                                            <span class="read-later-text"><img src="{{{@blog.cover_image}}}" width="12px" height="12px"/>
                                            <span>READ LATER
                                        
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="article row">
                        <div class="col-md-4">
                            <div class="card">
                                <img src="{{{@blog.cover_image}}}" width="100%" height="100%"/>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <a class="article-heading" href="#">
                                <h6 ><b>Seven Reasons You Should Fall in Love With Writing.</b></h6>
                            </a>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="date-time">
                                        <h7 class="name">Jason Gibert</h7>
                                        <p class="date">FEBRUARY 25, 2019</p>
                                    </div>
                                    <div class="read-later">
                                        <a href="#">
                                            <span class="read-later-text"><img src="{{{@blog.cover_image}}}" width="12px" height="12px"/>
                                            <span>READ LATER
                                        
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="article row">
                        <div class="col-md-4">
                            <div class="card">
                                <img src="{{{@blog.cover_image}}}" width="100%" height="100%"/>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <a class="article-heading" href="#">
                                <h6 ><b>Why It Is Not The Best Time To Pick Up Blogging Now.</b></h6>
                            </a>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="date-time">
                                        <h7 class="name">Jason Gibert</h7>
                                        <p class="date">FEBRUARY 25, 2019</p>
                                    </div>
                                    <div class="read-later">
                                        <a href="#">
                                            <span class="read-later-text"><img src="{{{@blog.cover_image}}}" width="12px" height="12px"/>
                                            <span>READ LATER
                                        
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <a class="article-heading" href="#">
                        <h6><b>Most Effective Ways to Overcome Design's Problem.</b></h6>
                    </a>
                    <a class="article-heading" href="#">
                        <h6><b>How Writing Can Increase Your Profit.</b></h6>
                    </a>
                    <a class="article-heading" href="#">
                        <h6><b>Lessons That Will Teach You All You Need To Know About Designing.</b></h6>
                    </a>
                    <a class="article-heading" href="#">
                        <h6><b>Learning Designing Can Be Adddictive. Here's How You Can Get Yourself Hooked.</b></h6>
                    </a>
                    <a class="more" href="#">
                        <h6><b>MORE IN THIS CATEGORY</b></h6>
                    </a>
                </div>
            </div>
        </div>                
    </div>
    <div class="container subscribe">
        <div class="row">
            <div class="col-md-4">
                <div class="row margin-top-bottom">
                <img class="newsletter-image" src="{{{@blog.cover_image}}}" width="25" height="25"/>
                <h4 class="">Subscribe to our newsletter</h4>
                </div>
                <p>Get the latest Editorial news, updates and more delivered directly to your email inbox.</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-9">
                        <input type="email" class="form-subscribe" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e-mail address">
                    </div>
                    <div class="col-md-3">
                        <button class="button-subscribe" type="submit">SUBSCRIBE</button>
                    </div>
                </div>
                <div class="row agree">
                    <div class="col-md-12">
                        <input type="checkbox" class="form-check-input" id="form-check">
                        <label class="form-check-label" for="form-check">I agree to receive information and commercial</label>    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="line"></div>

    <div class="container latest">
        <h5 class="latest-heading margin-top-bottom">Latest</h5>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-5">
                        <div class="article">
                            <img src="{{{@blog.cover_image}}}" width="100%" height="50%"/>
                            <a class="article-heading" href="#">
                                <h6 class="margin-top-bottom"><b>10 Beautiful Reasons We Can't Help But Fall in Love.</b></h6>
                            </a>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="date-time">
                                        <h7 class="name">Jason Gibert</h7>
                                        <p class="date">FEBRUARY 25, 2019</p>
                                    </div>
                                    <div class="read-later">
                                        <a href="#">
                                            <span class="read-later-text"><img src="{{{@blog.cover_image}}}" width="12px" height="12px"/>
                                            <span>READ LATER
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="article">
                            <img src="" width="100%" height="50%"/>
                            <a class="article-heading" href="#">
                                <h6 class="margin-top-bottom"><b>Ten Great Mural Ideas That You Can Share With Your Friends.</b></h6>
                            </a>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="date-time">
                                        <h7 class="name">Jason Gibert</h7>
                                        <p class="date">FEBRUARY 25, 2019</p>
                                    </div>
                                    <div class="read-later">
                                        <a href="#">
                                            <span class="read-later-text"><img src="{{{@blog.cover_image}}}" width="12px" height="12px"/>
                                            <span>READ LATER
                                        
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="article">
                            <img src="{{{@blog.cover_image}}}" width="100%" height="50%"/>
                            <a class="article-heading" href="#">
                                <h6 class="article-heading margin-top-bottom"><b>Learn From These Mistakes Before You Learn Design.</b></h6>
                            </a>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="date-time">
                                        <h7 class="name">Jason Gibert</h7>
                                        <p class="date">FEBRUARY 25, 2019</p>
                                    </div>
                                    <div class="read-later">
                                        <a href="#">
                                            <span class="read-later-text"><img src="images/Icons_ReadLater.png" width="12px" height="12px"/>
                                            <span>READ LATER
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="article">
                            <img src="{{{@blog.cover_image}}}" width="100%" height="50%"/>
                            <a class="article-heading" href="#">
                                <h6 class="article-heading margin-top-bottom"><b>Seven Reasons Why Design Is Common In USA.</b></h6>
                            </a>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="date-time">
                                        <h7 class="name">Jason Gibert</h7>
                                        <p class="date">FEBRUARY 25, 2019</p>
                                    </div>
                                    <div class="read-later">
                                        <a href="#">
                                            <span class="read-later-text"><img src="images/Icons_ReadLater.png" width="12px" height="12px"/>
                                            <span>READ LATER    
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Featured Posts -->
            <div class="col-md-4">
                <h5 class="margin-bottom">Featured Posts</h5>
                <div class="row">
                    <div class="col-md-1">
                        <p class="count">01.</p>
                    </div>
                    <div class="col-md-11">
                        <a class="article-heading featured-post" href="#"><b>Seven Reasons You Should Fall in Love With Writing.</b></a>
                        <p class="date">FEBRUARY 25, 2019</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <p class="count">02.</p>
                    </div>
                    <div class="col-md-11">
                        <a class="article-heading featured-post" href="#"><b>Why It Is Not The Best Time To Pick Up Blogging Time.</b></a>
                        <p class="date">FEBRUARY 25, 2019</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <p class="count">03.</p>
                    </div>
                    <div class="col-md-11">
                        <a class="article-heading featured-post" href="#"><b>How Writing Can Increase Your Profit!</b></a>
                        <p class="date">FEBRUARY 25, 2019</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <p class="count">04.</p>
                    </div>
                    <div class="col-md-11">
                        <a class="article-heading featured-post" href="#"><b>Lessons That Will Teach You Need To Know About Designing.</b></a>
                        <p class="date">FEBRUARY 25, 2019</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <p class="count">05.</p>
                    </div>
                    <div class="col-md-11">
                        <a class="article-heading featured-post" href="#"><b>Learning Designing Can Be Addictive. Here's How You Can Get Yourself Hooked.</b></a>
                        <p class="date">FEBRUARY 25, 2019</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="line"></div>
S
    <!--Instagram-->
    <div class="container instagram">
        <div class="follow-text">
            <img src="images/Instagram.png" width="25" height="20">
            Follow us on Instagram    
            <div class="row">
                <div class="col-md-12">
                    <div class="instagram-image-group">
                        <img class="instagram-image" src="{{{@blog.cover_image}}}" alt="" />
                        <img class="instagram-image" src="{{{@blog.cover_image}}}" alt="" />
                        <img class="instagram-image" src="{{{@blog.cover_image}}}" alt="" />
                        <img class="instagram-image" src="{{{@blog.cover_image}}}" alt="" />
                        <div>
                            <button class="button-bottom" type="submit">
                                <img src="images/Icons_GoUp.png" width="10" height="10">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 --}}


{{!-- <button class="btn btn-lg btn-primary">This button</button>





{{pagination}} --}}
