* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  font-weight: 400;
  line-height: 1.5;
  color: #36414c;
  text-align: left;
  background: #f4f8fb;
  /* margin: 0 !important; */
}

.logo {
  height: 90px;
  position: relative;
  left: 1rem;
  padding-bottom: 10px;
}

a {
  color: #000;
}

a:hover {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

h1, h5 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  line-height: 1.2;
  color: inherit;
  font-weight: 600;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.section, .section-padding, .top-section {
  padding: 5rem 0 5rem 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.top-section {
  position: static;
  padding: 0 !important;
}

.logo-part {
  position: relative;
  top: 1em;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.9);
  font-family: 'Didact Gothic', sans-serif;
}

.logo-part > img {
  margin: 1rem !important;
}

#company-name {
  line-height: 50px;
  position: relative;
  right: 1.5rem;
  font-size: 30px;
}

.nav-items {
  text-transform: none !important;
  color: #292929 !important;
  font-size: 13pt !important;
}

.lead {
  line-height: 1.5 !important;
  font-size: 1.15rem !important;
  font-weight: 300;
  /* padding: 0 4em 0 0; */
  display: block;
}

img {
  border-radius: 0.25rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.border {
  border-top: 1px solid #d1d8dd;
  border-bottom: 1px solid #d1d8dd;
}

.padder {
  padding-top: 15px;
}

.spaced-letter{
  letter-spacing: 0.15rem;
}

.pad-reduced {
  padding: 25;
}

.apply-button {
  background: grey;
  color: white;
  text-transform: unset;
  border-radius: 0.25rem;
}

.background-color {
  background: #36414c;
}

.white-text{
  color: #fff;
}

.primary-text{
  color: #333 !important;
}

.secondary-text{
  color: #7f7f7f;
}

.teritiary-text{
  color: #d3d3d3;
}

footer{
  padding-top: 3rem;
  font-family: 'Roboto', sans-serif;
}

.footer-card{
  background: inherit !important;
}

.no-btm-margin{
  margin-bottom: 0 !important;
}

.text-faded{
  color: #8d99a6;
}

#card-section{
  background-color: #f5f5f5;
}

.service-card{
  align-content: center;
  display: flex;
  height: 12rem;
  position: relative;
}

.uk-card-title {
  font-size: 1.30rem;
}

.card-internal{
  display: inline-block;
}

.card-internal>a{
  position: absolute;
  bottom: 1rem;
}

.card-text{
  line-height: 1.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-text>p{
  margin-block-start: 0em;
  margin-block-end: 0em;
}

#card-space{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.container-internal {
  background-color: #f5f5f5;
}

.image-partner{
  padding-right: 2rem;
}

.colored-text{
  color: #3a5eab;
}

.switcher{
  display: block;
  float: right;
}

#toolkit-section{
  margin-top: 10rem;
}

#toolkit-section>div>div{
 max-width: 1040px;
}

#toolkit-header{
  letter-spacing: 0.2rem;
}

.section-text{
  line-height: 2.5rem;
}

#toolkit_image{
  max-height: 30rem;
}

#showcase-section{
  margin-top: 10rem;
}


#showcase-section>div{
  max-width: 1040px;
 }

#showcase-header{
  letter-spacing: 0.2rem;
}

#features-section{
  margin-top: 10rem;
}


#features-section>div{
  max-width: 1040px;
 }

#features-section>div>div>div{
  line-height: 2rem;
}

 h3.feature{
  text-transform: uppercase;
  color: #333;
  margin-bottom: 2rem !important;
 }

 .feature a{
   color: #333 !important;
 }


 footer>div>div{
  max-width: 1040px;
 }

.shadow:hover{
  -webkit-box-shadow: 10px 10px 40px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 40px 5px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 40px 5px rgba(0,0,0,0.75);
}

.site-nav-logo,.site-title{
  color: #000;
}

@media screen and (max-width: 640px) {
  #toolkit-header {
    letter-spacing: 0;
  }

  #showcase-header{
    letter-spacing: 0.2rem;
  }

  .card-text>p{
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 10rem;
  }
}


